<html>

<head>
  <title>CSS Practice</title>
  <link rel = "stylesheet" type = "text/css" href = "CSS12mins.css" />
</head> 

<body>

<div id = "container">

  <div id = "header">
    <h1>My Website with CSS</h1>
  </div>
  <div id = "content">
    <div id = "nav">
      <h3> Naviation </h3>
      <ul>
        <li> <a class = "selected" href = ""> Home </a> </li>
        <li> <a href = ""> About </a> </li>
        <li> <a href = ""> Contact </a> </li>
    </div>
    <div id = "main">
      <h2> Homepage </h2>
      <p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

      <p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

      <p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

      <p>You can also embed plots, for example:</p>
    </div>
  
  </div>
  <div id = "footer">
    Copyright &copy; 2017
  </div>


</body>
</html>
